.header {
    background-color: #000;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.header__logo {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    font-family: 'Arial', sans-serif;
    margin-right: 20px;
    display: flex;
    align-items: center;
}

.header__logo img {
    height: 25px;
}